@model IEnumerable<Phd.Models.Major>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MajorCypher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MajorCypherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MajorCypherNameKaz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MajorCypherNameEng)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MajorCypher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MajorCypherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MajorCypherNameKaz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MajorCypherNameEng)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
